<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxd.mybatis.quickdemo.dao.mapper.UserMapper">
  <select id="selectUserById" resultType="com.xxd.mybatis.quickdemo.dao.entity.UserEntity">
    select *
    from t_user
    where id = #{id}
  </select>

  <select id="updateForName">
    update t_user
    <set>
      ,name=#{arg1}
    </set>
    where id=#{arg0}
  </select>
</mapper>
